.square {
    border: 4px solid gray;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    opacity: 0.75;
}

.empty {
    background-color: blue;
}

.emptyEnemy {
    background-color: blue;
}

.ship {
    background-color: black;
}

.shipEnemy {
    background-color: blue;
}

.miss {
    background-color: green;
}

.missEnemy {
    background-color: green;
}

.hit {
    background-color: red;
}

.hitEnemy {
    background-color: red;
}