.square {
    color: purple;
    border: 4px solid gray;
    height: 100px;
    width: 100px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}